<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="Xunit.KRunner.AppVeyor" value="https://ci.appveyor.com/nuget/xunit-krunner-appveyor-nc1iiur8kt0q" />
    <add key="NuGet.org" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
